@use 'base/variables' as v;
@use 'base/mixins' as m;


* {
    box-sizing: border-box;
}

.bloque1 {
    overflow-x: hidden; // Evita desbordes horizontales
}

//https://lp.cayetano.edu.pe/wp-content/uploads/2024/11/beca18-simulacro-image-top-scaled.webp

.bloque1Container {
    @include m.desktop_1020 {
        background-image: url('https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/foto-enfermeria-interno.webp');
        background-size: cover;
        background-position: center;
        background-repeat: none;
        display: flex;
        justify-content: space-between;
        padding: 0 8rem;
    }
    @include m.desktop_1200 {
        padding: 0 12rem;
    }
    @include m.desktop_1400 {
        padding: 0 16rem;
    }
    @include m.desktop_1600 {
        padding: 0 21rem;    
    }
    @include m.desktop_1800 {
        padding: 0 26rem;
    }
}

.bloque1Background {
    // background-image: url('../img/beca18-simulacro-image-top-mobile.webp');
    background-image: url('https://lp.cayetano.edu.pe/wp-content/uploads/2024/12/foto-enfermeria-interno.webp');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 2rem 2rem;
    row-gap: 2rem;
    @include m.phone_360 {
        padding: 3rem 3rem;
        row-gap: 3rem;
        background-position: center;
    }
    @include m.phone_414 {
        padding: 3rem 5rem;
    }
    @include m.desktop_1020 {
        background: none;
        padding: 0;
        padding-top: 3rem;
    }
    @include m.desktop_1200 {
        padding-top: 7rem;
        row-gap: 5rem;
    }
    @include m.desktop_1800 {
        padding-top: 12rem;
    }
    img {
        width: 12rem;
        @include m.phone_360 {
            width: 13rem;
        }
        @include m.phone_420 {
            width: 18rem;
        }
        @include m.desktop_1200 {
            width: 20rem;
        }
        @include m.desktop_1400 {
            width: 24rem;
        }
    }
}

.bloque1BackgroundText {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    @include m.phone_360 {
        row-gap: 2rem;
    }
    h2, h3, h4 {
        margin: 0;
        color: black;
        font-weight: 600;
        font-size: 4rem;
    }
    h1 {
        width: 25rem;
        font-size: 9rem;
        font-weight: 500;
        font-size:3.5rem;
        @include m.phone_360 {
            font-size:3.5rem;
            width: 25rem;
        }
        @include m.phone_420 {
            font-size: 2.2rem;
            width: 30rem;
        }
        @include m.desktop_1200 {
            font-size: 2.5rem;
            width: 35rem;
        }
        @include m.desktop_1400 {
            width: 40rem;
            font-size: 3rem;
        }
        span {
            font-weight: 700;
        }
    }
   
        // text-align: ;
        // @include m.phone_360 {
        //     font-size: 5rem;
        // }
        // @include m.phone_420 {
        //     font-size: 6rem;
        // }
        // @include m.desktop_1200 {
        //     font-size: 6.5rem;
        // }
        // @include m.desktop_1400 {
        //     font-size: 8rem;
        // }
    }
   

.bloque1FormContent {
   
    height: auto;
    display: flex;
    align-items: center;
   
    justify-content: center;
    position: relative;
    // overflow: hidden;
    h4 {
        display: none;
        @include m.desktop_1020 {
            display: block;
            color: white;
            width: 20rem;
            background-color: black;
            font-size: 3.5rem;
            text-align: center;
            padding: 5rem;
            border-radius: 1.5rem;
        }
    }
}
//     .bloque1FormContentMobile1,
//     .bloque1FormContentMobile2 {
//         position: absolute;
//         z-index: 1;
        
//         @include m.desktop_1020 {
//             display: none;
//         }
//     }
//     // .bloque1FormContentMobile1 {
//     //     top: 0;
//     //     right: 0;
//     // }
//     .bloque1FormContentMobile2 {
//         bottom: -8rem;
//         left: 0;
//         display: none;
//         @include m.phone_390 {
//             bottom: -10rem;
//         }
//     }
//     @include m.tablet_768 {
//         padding: 8rem;
//     }
//     @include m.desktop_1020 {
//         padding: 0;
//         background-color: transparent;
//         align-items: center;
//     }
// }

.bloque1Form {
    background-color: white;
    width: 25rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 1rem;
    // padding: 3rem;
    padding:2rem;
    z-index: 5;
    // padding-bottom: 3rem;
    // display: none;
    @include m.phone_390 {
        width: 32rem;
    }
    @include m.desktop_1020 {
        padding: 3rem;
    }
    @include m.desktop_1400 {
        width: 30rem;
    }

    input[type="number"]::-webkit-inner-spin-button, 
    input[type="number"]::-webkit-outer-spin-button {
        appearance: none !important;
    }
    input, select {
        height: 2.5rem;
        width: 100%;
        border-radius: .5rem;
        border: none;
        border: 1px solid black;
        padding-left: .5rem;
        outline: none;
        @include m.desktop_1020 {
            height: 2.8rem;
            font-size: 1.5rem;
        }
        // @include m.desktop_1200 {
        //     height: 3.8rem;
        // }
    }
}

.bloque1FormTitle {
    h3 {
        margin: 0;
        color: black;
        font-weight: 500;
        font-size: 2rem;
        width: rem;
        text-align: center;
        margin-bottom: 1rem;
        @include m.phone_375 {
            font-size: 2.3rem;
            width: 18rem;
        }
        @include m.desktop_1400 {
            width: 20rem;
        }
        span {
            font-weight: 800;
        }
    }    
}

.bloque1TopFormContainer--terminos {
    display: flex;
    column-gap: .5rem;
    justify-content: flex-start;
    width: 100%;
    @include m.desktop_1020 {
        column-gap: .8rem;
    }
    input {
        width: 1rem;
        @include m.desktop_1020 {
            width: 1.5rem;
        }
    }
    h3 {
        font-size: 1rem;
        margin: 0;
        font-weight: 500;
        display: flex;
        align-items: center;
        @include m.desktop_1020 {
            
            font-size: 1.2rem;
        }
        @include m.desktop_1200 {
            font-size: 1.4rem;
        }
    }
}

.bloque1FormButton { 
    button {
        width: auto;
        height: auto;
        background-color: black;
        border-radius: 1rem;
        border: 1px solid black;
        h3 {
            padding: .5rem 1.5rem;
            margin: 0;
            color: white;
            font-size: 1.2rem;
            @include m.desktop_1020 {
                font-size: 1.7rem;
            }
        }
    }
}

.captcha {
    height: 4.7rem !important;
    // background-color: orange;
    overflow: hidden;
    // margin-bottom: 1rem !important;
    display: flex;
    justify-items: center;
    width: 19rem;
    // background-color: red;
    align-items: flex-start;
    @include m.desktop_1020 {
        margin-bottom: .5rem !important;
        width: 20rem;
        height: 5.5rem !important;
    }
    @include m.desktop_1200 {
        // height: 5rem !important;
        width: 22rem;
    }
}

.g-recaptcha {
    height: auto;
    // padding-left: 10rem;
    // padding-top: .4rem;
    transform: scale(0.63);
    transform-origin: 0 0;
    @include m.desktop_1020 {
        transform: scale(0.65);
    }
    @include m.desktop_1200 {
        transform: scale(0.72);
    }
}

.bloque1LeftSubtitle {
    color: black;
    display: flex;
    flex-direction: column; 
    row-gap: 1.2rem;
    align-items: flex-start; 
    text-align: left;
    margin-top: 1.5rem; 
}

.bloque1LeftSubtitle h4 {
    margin: 0;
    font-weight: 400; 
    font-size: 3.2rem; 
    line-height: 1.4; 
    color: black; 
}

.h3Container {
    position: relative; 
    display: flex; 
    align-items: center; 
}

.h3Container img {
    position: absolute; 
    left: 0; 
    width: 2.5rem;
    height: auto; 
    margin-left: -1rem; 
    bottom: -5.4rem;
    
    
}
.h3Container h3 {
    position: absolute; 
    top:-1rem;
    
    
    margin: 0;
    font-weight: 700; 
    font-size: 5rem; 
    line-height: 1;
    color: black; 
    text-align: center;
}


.bloque2InputDouble {
    height: 3rem;
    display: flex;
    column-gap: 1rem;
    input, select {
        width: 100%;
    }
    @include m.desktop_1200 {
        height: 4rem;
    }
}